div(class="Member")
  figure(class="Member__image")
    img(class="Member__image--photo" src="./public/img/fotoyo.jpg")
  h3(class="Member__name") 
    a(class="Member__name--link" href="#")=member
  p(class="Member__job") Web Developer
