doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    title CETIEM
    link(rel="stylesheet", href="./public/css/normalize.css")
    link(rel="stylesheet", href="./public/css/style.css")
  body
    p Hola Mundo
