doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport",content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0")
    title Capítulo Estudiantil de Tecnología, Innovación y Emprendimiento
    link(href='http://fonts.googleapis.com/css?family=Lato:400,300,700', rel='stylesheet', type='text/css')
    link(rel="stylesheet", href="./public/css/style.css")
  body
    header(class="Header")
      figure(class="Header__logo") 
        img(class="Header__logo--image", src="./public/img/cetiem.png", alt="Capítulo Estudiantil de Tecnología y Emprendimiento")
        h1(class="Header__logo--text") Capítulo Estudiantil de Tecnología, Innovación y Emprendimiento
    nav(class="Menu")
      input(name="Menu-acordeon", type="checkbox", id="Menu-acordeon")
      label(for="Menu-acordeon", class="icon-menu", id="Menu-btn") 
      ul(class="Menu__list" id="Menu")
        li(class="Menu__item")
          a(class="Menu__item--link", href="#") ¿Quiénes somos?
        li(class="Menu__item")
          a(class="Menu__item--link", href="#") Proyectos
        li(class="Menu__item")
          a(class="Menu__item--link", href="#") Eventos
        li(class="Menu__item")
          a(class="Menu__item--link", href="#") Miembros
        li(class="Menu__item")
          a(class="Menu__item--link", href="#contact") Contacto
    section(class="News")
      div(class="News__slider", id="News__slider")
        ul(class="Slider", id="Slider__about")
          li(class="Slide Slide-current")
            img(class="Slide__image", src="public/img/imagen1.jpg", alt="")
            div(class="Slide__caption")
              h3(class="Slide__title") CETIEM
              p(class="Slide__description") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, eaque aperiam asperiores voluptates, quasi corporis expedita fugiat amet nemo officiis, nisi veritatis cupiditate dolores hic. Id quia reprehenderit ex officia.
          li(class="Slide")
            img(class="Slide__image", src="public/img/imagen2.jpg", alt="")
            div(class="Slide__caption")
              h3(class="Slide__title") CETIEM
              p(class="Slide__description") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, eaque aperiam asperiores voluptates, quasi corporis expedita fugiat amet nemo officiis, nisi veritatis cupiditate dolores hic. Id quia reprehenderit ex officia.
          li(class="Slide")
            img(class="Slide__image", src="public/img/imagen3.jpg", alt="")
            div(class="Slide__caption")
              h3(class="Slide__title") CETIEM
              p(class="Slide__description") Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, eaque aperiam asperiores voluptates, quasi corporis expedita fugiat amet nemo officiis, nisi veritatis cupiditate dolores hic. Id quia reprehenderit ex officia.
        ul(id="Slider__controls", class="Slider__controls")
    section(class="About") 
      h2(class="About__title") ¿Quiénes Somos?
      div(class="About__container")
        input(type="radio", id="description", name="about-group", class="About__container--input", checked)
        label(for="description", class="About__container--label") Descripción
        input(type="radio", id="mision", name="about-group", class="About__container--input")
        label(for="mision", class="About__container--label") Misión
        input(type="radio", id="vision", name="about-group", class="About__container--input")
        label(for="vision", class="About__container--label") Visión
        div(class="About__content")
          div(class="About__content--description")
            h2(class="About__content--title") CETIEM
            div(class="About__content--image")
            div(class="About__content--text")
              p Donde los jóvenes universitarios expanden sus horizontes de creatividad y conocimiento al entrar en colaboración con diferentes perfiles que propician la generación de ideas de manera divertida y profesional.
              h3 Objetivos
              ul(class="About__content--list")
                li(class="About__content--item") Reunir al talento universitario en un grupo donde intervenga su inventiva y creatividad en proyectos multidisciplinarios
                li(class="About__content--item") Promover la innovación, emprendimiento y tecnología mediante actividades complementarias el ecosistema universitario.
                li(class="About__content--item") Generar oportunidades de creación de startups, proyectos de investigación y crecimiento profesional en varias áreas de la universidad.
          div(class="About__content--mision")
            h2(class="About__content--title") Misión
            div(class="About__content--image icon-accessibility")
            p(class="About__content--text") Contribuir a la generación de oportunidades en tecnología, innovación y emprendimiento con un ecosistema de interacción entre profesiones que promueva el talento joven mexicano.
          div(class="About__content--vision")
            h2(class="About__content--title") Visión
            div(class="About__content--image icon-flag")
            p(class="About__content--text") En un corto periodo seremos la base de una generación de jóvenes profesionistas que comparten ideales en la aportación de talento con proyectos de alto impacto con un beneficio social.
    section(class="Projects") 
      h2(class="Projects__title") Proyectos
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt tenetur, magni vitae odit perspiciatis suscipit dignissimos provident facere saepe! Quas, odit beatae mollitia animi, quaerat debitis enim? Officia, iste, a!
    section(class="Events") 
      h2(class="Events__title") Eventos
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt tenetur, magni vitae odit perspiciatis suscipit dignissimos provident facere saepe! Quas, odit beatae mollitia animi, quaerat debitis enim? Officia, iste, a!
    section(class="Members")
      h2(class="Members__title") Miembros
      div(class="Members__profiles")
        each member in ["César Villaseñor", "Brenda García", "Jesús Cedillo", "Luis Villeda", "Rodolfo Castillo", "Oscar Díaz", "Luis Ortega" ]
          include ./Profile/profile.jade
    footer(class="Contact")
      a(name="contact") 
      h2(class="Contact__title") ¡Déjanos un mensaje!
      div(class="Contact__content") 
        p(class="Contact__text") ¿Tienes una idea, comentario o deseas saber más de CETIEM? Llena este breve formulario y nosotros te responderemos tan pronto podamos.
        div(class="Contact__form") 
          form(class="Form", method="GET", action="")
            input(class="Form__name", type="text", placeholder="Nombre", name="nombre", required)
            input(class="Form__email", type="email", placeholder="Correo", name="email", required)
            textarea(class="Form__message", placeholder="Mensaje", name="mensaje", required)
            input(class="Form__submit", type="submit", value="Enviar")
    script(src="./public/js/jquery-1.11.3.min.js")
    script(src="./public/js/script.js")
