doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport",content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0")
    title Capítulo Estudiantil de Tecnología, Innovación y Emprendimiento
    link(rel="stylesheet", href="./public/css/style.css")
  body
    header(class="Header")
      figure(class="Header__logo") 
        img(class="Header__logo--image", src="./public/img/cetiem.png", alt="Capítulo Estudiantil de Tecnología y Emprendimiento")
        h1(class="Header__logo--text") Capítulo Estudiantil de Tecnología, Innovación y Emprendimiento
      nav(class="Header__menu")
        a(href="#" id="Menu-btn") Menú
        ul(class="Menu" id="Menu")
          li(class="Menu__item")
            a(class="Menu__item--link", href="#") ¿Quiénes somos?
          li(class="Menu__item")
            a(class="Menu__item--link", href="#") Proyectos
          li(class="Menu__item")
            a(class="Menu__item--link", href="#") Eventos
          li(class="Menu__item")
            a(class="Menu__item--link", href="#") Miembros
          li(class="Menu__item")
            a(class="Menu__item--link", href="#contact") Contacto
    section(class="Info") 
      h2 ¿Quiénes Somos?
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt tenetur, magni vitae odit perspiciatis suscipit dignissimos provident facere saepe! Quas, odit beatae mollitia animi, quaerat debitis enim? Officia, iste, a!
    section(class="Projects") 
      h2 Proyectos
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt tenetur, magni vitae odit perspiciatis suscipit dignissimos provident facere saepe! Quas, odit beatae mollitia animi, quaerat debitis enim? Officia, iste, a!
    section(class="Events") 
      h2 Eventos
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt tenetur, magni vitae odit perspiciatis suscipit dignissimos provident facere saepe! Quas, odit beatae mollitia animi, quaerat debitis enim? Officia, iste, a!
    section(class="Members")
      h2(class="Members__title") Miembros
      div(class="Members__profiles")
        each member in ["César Villaseñor", "Brenda García", "Jesús Cedillo", "Luis Villeda", "Rodolfo Castillo", "Oscar Díaz", "Luis Ortega" ]
          include ./Profile/profile.jade
    section(class="Contact")
      a(name="contact") 
      h2 Contacto
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt tenetur, magni vitae odit perspiciatis suscipit dignissimos provident facere saepe! Quas, odit beatae mollitia animi, quaerat debitis enim? Officia, iste, a!
    script(src="./public/js/jquery-1.11.3.min.js")
    script(src="./public/js/script.js")
