@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-sviati');
	src:url('../fonts/icomoon.eot?#iefix-sviati') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?-sviati') format('truetype'),
		url('../fonts/icomoon.woff?-sviati') format('woff'),
		url('../fonts/icomoon.svg?-sviati#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-quotes-left:before {
	content: "\e600";
}
.icon-quotes-right:before {
	content: "\e601";
}
.icon-spinner:before {
	content: "\e602";
}
.icon-accessibility:before {
	content: "\e603";
}
.icon-power:before {
	content: "\e604";
}
.icon-switch:before {
	content: "\e605";
}
.icon-menu:before {
	content: "\e606";
}
.icon-link:before {
	content: "\e607";
}
.icon-flag:before {
	content: "\e608";
}
.icon-facebook:before {
	content: "\e609";
}
.icon-twitter:before {
	content: "\e60a";
}
